.esof{display:inline-block}
.esof-tooltip{position:absolute}
.esof-tooltip .tooltip-inner{min-width:335px;max-width:335px}
.h-icon-link{border:0;width:50px;height:50px}
.h-item{font-family:Helvetica,sans-serif;font-size:13px;width:320px;margin:0 auto;color:#c5c29e;background-color:#000;text-align:center;border-radius:3px;border:2px solid #9f9b86;padding:8px}
.h-info{font-family:Helvetica,sans-serif;font-size:13px;color:#ffffff;margin-top:5px;text-align:right}
.h-icon-border{margin:0 auto;width:50px;height:50px;border:2px solid #9f9b86}
.h-icon-roundborder{border-radius:35px}
.h-icon{margin:0 auto;width:50px;height:50px}
.h-name{font-family:Helvetica,sans-serif;font-size:15px;width:100%;color:#ffffff;font-weight:700;margin-top:5px}
.h-separator{width:90%;height:1px;margin:0 auto;background-color:#9f9b86;margin-top:5px;margin-bottom:5px}
.h-points{font-family:Helvetica,sans-serif;font-size:13px;font-weight:700;color:#ffffff}
.h-description{font-family:Helvetica,sans-serif;font-size:13px;margin-top:5px;width:100%}
.h-criterions{font-family:Helvetica,sans-serif;font-size:13px;margin-top:5px;width:100%;color:#ffffff;text-align:left}
.h-health{color:#E30202;font-weight:bold}.h-magicka{color:#15b4ff;font-weight:bold}.h-stamina{color:#50de36;font-weight:bold}
.h-white{color:#ffffff;font-weight:bold}.h-red{color:#E30202;font-weight:bold}.h-cyan{color:#22addc;font-weight:bold}
